language: node_js
env:
  global:
    - CC_TEST_REPORTER_ID=$CC_TEST_REPORTER_ID
node_js:
  - 8.9.4
dist: trusty
addons:
  chrome: stable
before_script:
  - npm install -g codecov
  - yarn global add nyc
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build --debug

script:
  - npm run lint
  - npm run nsp
  - nyc --reporter=lcov yarn run cover

after_script:
  - ./cc-test-reporter format-coverage --output "coverage/codeclimate.$N.json" --debug
  - ./cc-test-reporter upload-coverage --debug
  - ./cc-test-reporter after-build --exit-code --debug $TRAVIS_TEST_RESULT
  - istanbul cover ./node_modules/mocha/bin/_mocha --reporter lcovonly -- -R spec
  - codecov -f coverage/lcov.info --disable=gcov

notifications:
  slack: $SLACK_ID
  email:
    - $SLACK_EMAIL
